* {
    font-size: 100%;
    font-family: sans-serif;
}



.container {
    justify-content: center;
}

h1{
    justify-content: center;

}

Body {
    font-family: sans-serif;}
button {
    background-color: #4CAF50;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}
form {
}
input[type=email], input[type=password],input {
    width: 50%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;

}
button:hover {
    opacity: 0.7;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}


.container {
    padding: 25px;
    background-color: lightblue;
}
h1{
    color:green;
}
#email{
}