* {
    font-size: 100%;
    font-family: sans-serif;
}


Body {
    font-family: sans-serif;}
button {
    background-color: #4CAF50;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=email], input[type=password],#email,#password {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}




.container {
    padding: 500px;
    max-width: 200px;
    background-color: pink;
}
h1{
    color:pink;
}
#email{
}