<section id="top">
    <div class="wrapper">
        <h1>Analytics</h1>
    </div>
</section>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="@routes.Assets.at("/public/javascripts", "scripts.js")"></script>
    <!--<script>
        // google.charts.load('current', { packages: ['bar'] });
        // google.charts.setOnLoadCallback(drawTable);
    </script>-->
</head>

<body>


<label for="week">Choose a week in May or June:</label>
<form>
    <input type="week" name="week" id="camp-week" min="2022-W1" max="2022-W20" required>
    <input type="button" value="weekday" id="weekdayInput">

</form>
<button id='updateButton'>update chart</button>
<pre id="output"></pre>
<ul>
    <li><a href="#SectionTop">Home</a></li>
    <li><a href="#SectionWeeklyIncome">Weekly Income.</a></li>
    <li><a href="#SectionDaily">Daily Income.</a></li>

</ul>
<div id="SetionTop"></div>


<div id="SectionWeeklyIncome">

    <h1>Weekly Income.<br></h1>
</div>

<div id="table_div"></div>


<br><br>


<div id="top_x_div_weekly" style="width: 900px; height: 500px;"></div>

<div id="SectionDaily">
    <h1>Daily Income.</h1>

</div>
<div id="table2_div"></div>

<div id="top_x_div" style="width: 900px; height: 500px;"></div>
</body>
<!-- <script type="text/javascript">
     // google.charts.load('current', { 'packages': ['bar'] });
     // google.charts.setOnLoadCallback(drawStuff);

     // function drawStuff() {
     //     var data = new google.visualization.arrayToDataTable([
     //         ['Rental Type ', 'Total Taken'],
     //         ["1 Hour", oneHour],
     //         ["4 Hours", fourHour],
     //         ["1 Day", Day],
     //         ["1 Week", Week]
     //     ]);

     //     var options = {
     //         title: 'Chess opening moves',
     //         width: 900,
     //         legend: { position: 'none' },
     //         chart: {
     //             title: 'Chess opening moves',
     //             subtitle: 'popularity by percentage'
     //         },
     //         bars: 'horizontal', // Required for Material Bar Charts.
     //         axes: {
     //             x: {
     //                 0: { side: 'top', label: 'Total Taken' } // Top x-axis.
     //             }
     //         },
     //         bar: { groupWidth: "90%" }
     //     };

     //     var chart = new google.charts.Bar(document.getElementById('top_x_div_weekly'));
     //     chart.draw(data, options);
     // };
 </script>-->


<!--<script type="text/javascript">
    // google.charts.load('current', { 'packages': ['table'] });
    // google.charts.setOnLoadCallback(drawTable);

    // function drawTable() {
    //     var data = new google.visualization.DataTable();
    //     data.addColumn('string', 'Day');
    //     data.addColumn('number', 'Quantity');
    //     data.addColumn('number', 'Total Taken');
    //     data.addRows([
    //         ['Monday', mon, { v: 10000, f: '$10,000' }],
    //         ['Tuesday', tues, { v: 8000, f: '$8,000' }],
    //         ['Wednesday', wed, { v: 12500, f: '$12,500' }],
    //         ['Thursday', thu, { v: 7000, f: '$7,000' }],
    //         ['Friday', fri, { v: 7000, f: '$7,000' }],
    //         ['Saturday', sat, { v: 7000, f: '$7,000' }],
    //         ['Sunday', sun, { v: 7000, f: '$7,000' }],
    //     ]);

    //     var table = new google.visualization.Table(document.getElementById('table2_div'));

    //     table.draw(data, { showRowNumber: false, width: '60%', height: '100%' });
    // }
</script>-->

<!--<script type="text/javascript">
    // google.charts.load('current', { 'packages': ['bar'] });
    // google.charts.setOnLoadCallback(drawStuff);

    // function drawStuff() {
    //     var data = new google.visualization.arrayToDataTable([
    //         ['Day ', 'Total Taken'],
    //         ["Monday", mon],
    //         ["Tuesday", tues],
    //         ["Wednesday", wed],
    //         ["Thursday", thu],
    //         ['Friday', fri],
    //         ['Saturday', sat],
    //         ['Sunday', sun]
    //     ]);

    //     var options = {
    //         title: 'Chess opening moves',
    //         width: 900,
    //         legend: { position: 'none' },
    //         chart: {
    //             title: 'Chess opening moves',
    //             subtitle: 'popularity by percentage'
    //         },
    //         bars: 'horizontal', // Required for Material Bar Charts.
    //         axes: {
    //             x: {
    //                 0: { side: 'top', label: 'Total Taken' } // Top x-axis.
    //             }
    //         },
    //         bar: { groupWidth: "90%" }
    //     };

    //     var chart = new google.charts.Bar(document.getElementById('top_x_div'));
    //     chart.draw(data, options);
    // };
</script>-->
