@()(implicit assetFinder: AssetsFinder)
    @main("Analytics") {
        <section id="top">
            <div class="wrapper">
                <h1>Analytics</h1>
            </div>
        </section>

        <head>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript" src="@routes.Assets.versioned("javascripts/scripts.js")" defer></script>

                <!--<script>
        // google.charts.load('current', { packages: ['bar'] });
        // google.charts.setOnLoadCallback(drawTable);
    </script>-->
        </head>


        <div class="mb-3">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-sm" type="week" name="week" id="camp-week" min="2022-W1" max="2022-W20" value="" required>

                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="button" value="Generate Graph" id="weekdayInput">

                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" type="button" value="Draw Graph" id="updateButton">

                        </div>
                    </div>
                </div>

            </form>
            <div>

                <div class="mb-3">
                    <h1>Weekly Income.</h1>
                </div>

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">
                            <div id="table_div"></div>
                        </div>

                        <div class="col">
                            <div id="top_x_div_weekly" style="width: 900px;
                                height: 500px;"></div>
                            <div/>
                        </div>

                    </div>


                    <h1>Daily Income.</h1>

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col">
                                <div id="table2_div"></div>
                            </div>

                            <div class="col">
                                <div id="top_x_div" style="width: 900px;
                                    height: 500px;"></div>
                                <div/>
                            </div>

                        </div>
                        <div/>
    }