@(customerForm: Form[FeedbackChanger])(FeedbackList: List[Feedback])(implicit assetsFinder: AssetsFinder, message: play.i18n.Messages, error: String)

    @main("Feedback") {
        <section id="top">
            <div class="wrapper">
                <h1>Feedback</h1>
            </div>
        </section>


        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Feedback Contents</th>
                    <th scope="col">FeedbackID</th>
                    <th scope="col">Priority</th>
                    <th scope="col">UserID</th>
                    <th scope="col">Change Priority / Resolve Feedback</th>
                    <th scope="col">Submit feedback</th>
                </tr>
            </thead>

            <tbody>
            @for(Feedback <- FeedbackList) {
                <tr>
                    <td>@Feedback.FeedbackContents</td>
                    <td>@Feedback.FeedbackID</td>
                    <td>@Feedback.Priority</td>
                    <td>@Feedback.UserID</td>
                    <td>@helper.form(action = routes.ApplicationController.feedbackPost(Feedback.FeedbackID)) {
                        @helper.select(customerForm("newPriority"), options = Seq(
                            "1" -> "1",
                            "2" -> "2",
                            "3" -> "3",
                            "4" -> "4",
                            "0" -> "Resolve"
                        ), Symbol("_label") -> "New feedback priority")
                    </td>
                    <td><input name="but" type="submit" value="Submit" id=@Feedback.FeedbackID>}</td>

                </tr>
            }
            </tbody>
        </table>
    }

