@*
* This template takes a two arguments, a String containing a
* message to display and an AssetsFinder to locate static assets.
*@
@(message: String)(implicit assetsFinder: AssetsFinder)

@main("Home") {

    <body>
        <div style="padding-top: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/booking.png")" class="card-img-top" alt="view bookings icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>View Bookings</strong></h4>
                                <p class="card-text"><a href="/viewBooking" class="text-warning stretched-link">View</a>
                                    daily/weekly statistics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/analytics.png")" class="card-img-top" alt="analytics icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>Analytics</strong></h4>
                                <p class="card-text"><a href="/analytics" class="text-warning stretched-link">View</a>
                                    daily/weekly statistics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/scooterinfo.png")" class="card-img-top" alt="scooterinfo icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>Scooter Information</strong></h4>
                                <p class="card-text"><a href="/scooterInformation" class="text-warning stretched-link">View</a>
                                    availability of scooters.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/feedback.png")" class="card-img-top" alt="feedback icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>Feedback</strong></h4>
                                <p class="card-text"><a href="/feedback" class="text-warning stretched-link">View</a>
                                    priority ranked user feedback by Customer ID.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/prices.png")" class="card-img-top" alt="prices icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>Prices</strong></h4>
                                <p class="card-text"><a href="/prices" class="text-warning stretched-link">View</a>
                                    price of Scooty hire durations organised by Cost ID.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 py-2">
                        <div class="card p-3">
                            <img src="@assetsFinder.path("images/bookwith.png")" class="card-img-top" alt="booking icon">
                            <div class="card-body">
                                <h4 class="card-title"><strong>Book with Scooty</strong></h4>
                                <p class="card-text"><a href="/booking" class="text-warning stretched-link">View</a>
                                    form to input booking details or amend bookings.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

}
