@(implicit assetsFinder: AssetsFinder)

@main("No permission") {
    <div class="panel panel-default">
        <div class="alert alert-danger" role="alert">
            <h2 class="alert-heading">Unauthorised Access</h2>
            <p>You do not have the required permissions to view this page.</p>
            <p>Please contact system admin for help.</p>
        </div>
    </div>
}
