@(implicit assetsFinder: AssetsFinder)

@logInNavBar("Unauthorised") {
    <div class="panel panel-default">
        <div class="alert alert-danger" role="alert">
            <h2 class="alert-heading">Unauthorised Access</h2>
            <p>You are not logged in.</p>
            <p>Please log in to have access</p>
        </div>
    </div>
}
