@(customerForm: Form[PriceChanger])(PricesList: List[Prices])(implicit assetsFinder: AssetsFinder, message: play.i18n.Messages, error: String)

    @main("Prices") {
        <section id="top">
            <div class="wrapper">
                <h1>Prices</h1>
            </div>
        </section>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">CostID</th>
                    <th scope="col">Duration (minutes)</th>
                    <th scope="col">Price</th>
                    <th scope="col">Change Cost</th>
                </tr>
            </thead>

            <tbody>
            @for(Price <- PricesList) {
                <tr>
                    <td>@Price.CostID</td>
                    <td>@Price.Duration</td>
                    <td>£@Price.Price</td>
                    <td>@helper.form(action = routes.ApplicationController.pricesPost(Price.CostID)) {
                        @helper.inputText(customerForm("newPrice"), Symbol("type")->"number",Symbol("min")->"1", Symbol("id") -> "newPrice", Symbol("class") -> "form-control")
                        <input name="but" type="submit" value="Update" id=@Price.CostID>
                    </td>
                    }
                </tr>
            }
            </tbody>
        </table>

    }