@(Scooters: List[Scooter])(implicit assetsFinder: AssetsFinder)



    @main("Scooter Information") {
        <section id="top">
            <div class="wrapper">
                <h1>Book a scooter</h1>
            </div>
        </section>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ScooterID</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Scooter Location</th>
                </tr>
            </thead>

            <tbody>
            @for(Scooter <- Scooters) {
                <tr>
                    <td>@Scooter.scooterID</td>
                    <td>@Scooter.available</td>
                    <td>@Scooter.currentLocation</td>

                </tr>
            }
            </tbody>
        </table>


    }

