@(Scooters: List[Scooter])(implicit assetsFinder: AssetsFinder)
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/maps.js")" defer></script>

</head>
    @main("Scooter Information") {
        <section id="top">
            <div class="wrapper">
                <h1>Scooter Information</h1>
            </div>
        </section>


        <div class="w-50 p-3" style="display: inline-block">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ScooterID</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Scooter Location</th>
                    </tr>
                </thead>

                <tbody>
                @for(Scooter <- Scooters) {
                    <tr>
                        <td>@Scooter.scooterID</td>

                        @{
                            if(Scooter.available == "1") {
                                    <td>Available</td>
                            }
                                else
                                {
                                        <td>Unavailable</td>
                                }
                            }
                        <td>@Scooter.currentLocation</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
<iframe src="https://my.atlistmaps.com/map/116c26c7-432e-4c5c-849e-63d1e85d6f1e?share=true" allow="geolocation" align="right" width="50%" height="800px" frameborder="0" scrolling="no" allowfullscreen></iframe>

