@(implicit assetsFinder: AssetsFinder)

@main("No permission") {
    <div class="panel panel-default">
        <div class="alert alert-success" role="alert">
            <h2 class="alert-heading">Scooter successfully booked</h2>
            <p>Scooter has now been booked for the customer.</p>
        </div>
    </div>
}
