@(implicit assetsFinder: AssetsFinder)

@main("Invalid Booking") {


    <div class="panel panel-default">
        <div class="alert alert-danger" role="alert">
            <h2 class="alert-heading">Invalid scooter booking</h2>
            <p>The scooter booking has not gone through.</p>
            <p>Please contact system admin for help.</p>
        </div>
    </div>
}


