@(Scooter: Scooter, ExtendList: List[String])(implicit assetsFinder: AssetsFinder)



@main("Scooter Information") {
    <section id="top">
        <div class="wrapper">
            <h1>Book a scooter</h1>
        </div>
    </section>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">ScooterID</th>
                <th scope="col">Availability</th>
                <th scope="col">Scooter Location</th>
                <th scope="col">Session ID</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>@Scooter.scooterID</td>
                <td>@Scooter.available</td>
                <td>@Scooter.currentLocation</td>
                <td>@Scooter.sessionID</td>

            </tr>

        </tbody>

        <td>

            <label>Choose extension time</label>
            @for(options <- ExtendList) {
                <a href="@controllers.routes.BookingController.extendBookingOptions(options)">
                    <input type="submit" value="@options" id="@options"/>
                </a>
            }
        </td>


        </td>

    </table>
    <a href="@controllers.routes.BookingController.deleteBooking()">
        <input type="submit" value="Delete booking" />
    </a>

}

