@(message: String)


<section id="top">
    <div class="wrapper">
        </div>
</section>
<body>
    <div id="content" class="wrapper doc">
        <article>

            <h1>Welcome @message to the Admin Console</h1>

        </article>
    </div>
</body>

